@import "reset.css";
:root{
    --main-text-size:30px;
}
body{
    width:560px;
    height: 315px;
    padding:10px 0;
    border: solid 2px black;

    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: var(--bg);
    color: var(--color-calendar-graph-day-L4-bg);
}

.none{
    display: none;
}

.hidden{
    visibility: hidden;
}

#top{
    width: inherit;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}

/*logo*/
#logo{
    grid-column: 2/3;
    font-weight: bold;
    color: var(--color-calendar-graph-day-L4-bg);
}
#logout{
    width: fit-content;
    grid-column: 3/4;
    border: none;
    border-bottom: solid 1px var(--color-calendar-graph-day-L4-bg);
    background-color: var(--bg);
    justify-self: end;
    margin-right: 20px;
}


/*before-login*****************************************************************/
#part1{
    width: inherit;
}
#before-login{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input-id{ 
    border:none;
    border-bottom: solid 3px var(--color-calendar-graph-day-L4-bg);
    text-align: center;
    font-size: var(--main-text-size);
    font-weight: bold;
    background-color: var(--bg);
    color: var(--color-calendar-graph-day-L4-bg);
    /*길이 자동 조절은 js로 해야한다네.....*/
}
#input-id:focus{
    outline: none;
}
#warning{
    color:red;
    margin: 10px 0;
}
#login-button{
    width:150px;
    height: 40px;
    border: none;
    background-color: var(--color-calendar-graph-day-L4-bg);
    color: white;
}

/*after-login*****************************************************************/
#part2{
    width: inherit;
}
#after-login{
    width: inherit;
}
#comment{
    text-align: center;
    font-size: var(--main-text-size);
    font-weight: bold;
}
.calendar{
    /* border: none; */
    text-align: center;
}


/* color-list *****************************************************************/
#color-list{
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#color-list>li{
    width:20px;
    height:20px;
}
#color-list>li:nth-child(1){
    background-color: red;
}
#color-list>li:nth-child(2){
    background-color: orange;
}
#color-list>li:nth-child(3){
    background-color: green;
}
#color-list>li:nth-child(4){
    background-color: blue;
}
#color-list>li:nth-child(5){
    background-color: black;
}